 @import url('https://fonts.googleapis.com/css?family=Mina');
body {
    background-image: url("http://www.gsfdcy.com/data/img/81/2087513-sports-wallpaper.jpg");
    }
h1 { 
    font-family: 'mina', sans-serif;
    font-size: 64px;
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
      }

h2 {
    font-family: 'mina', sans-serif;
    text-decoration: underline;
    color: #ffffff;
    
     
      }
